* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #dabeb3;  
    padding: 20px;;  
}

#root {
    height: 100%;
    width: 60%;        
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius:10px;
}
#drum-machine {
    height: 360px;
    width: 300px;;
    display: grid;
    grid-template-columns: auto auto auto;
}
#display {
    margin-bottom: 30px;
    font-size: large;    
    color: white;
}
.drum-pad {
    height: 100px;
    width: 80px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff7f3;
    margin: 10px;    
    text-align: center;
    display: flex;   
    justify-content: center;
    align-items: center;
}
.drum-pad:hover {
    background-color: #dabeb3;  
}