* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;    
}
#root {
    height: 100%;
    width: 100%;        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#drum-machine {
    height: 360px;
    width: 300px;;
    display: grid;
    grid-template-columns: auto auto auto;
}
#display {
    margin-bottom: 10px;
    font-size: large;    
}
.drum-pad {
    height: 100px;
    width: 80px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid red;
    margin: 10px;    
    text-align: center;
    display: flex;   
    justify-content: center;
    align-items: center;
}